/dist/django-genetics-0.6.tar.gz
/django_genetics.egg-info/dependency_links.txt
/django_genetics.egg-info/PKG-INFO
/django_genetics.egg-info/requires.txt
/django_genetics.egg-info/SOURCES.txt
/django_genetics.egg-info/top_level.txt
/db.sqlite3
/.idea/misc.xml
